@import "variables.css";

@media screen and (max-width: 768px){
    .elevated {
        width: 100% !important;
        text-align: center;
    }
}

body {
    background-color: var(--main-bg-color);
}


.logo {
    width: 60px !important;
    height: 60px !important;
}

.blur {
    filter: blur(2px);
}

.nav-link {
    color: white;
}

.post {
    border-bottom: 1px solid rgb(45, 45, 45);
}

.box {
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.nav-box {
    padding: 20px;
    border-radius: 10px;
    color: var(--nav-icon-color);
}

.active {
    color: white !important;
}

.nav-box:hover {
    background-color: var(--nav-item-hover);
    color: var(--nav-icon-color);
    border-radius: 10px;
}

svg {
    display: block;
    margin: auto;

}

.dropdown-menu {
    background-color: var(--input-bg-color);
    border-radius: 10px;
    width: 200px;
}

.dropdown-item {
    color: white;
    margin: 10px;
    width: auto;
    font-size: 1rem;
}

.dropdown-item:hover {
    background-color: var(--nav-item-hover);
    color: white;
    border-radius: 10px;
}

.menu-icon {
    color: var(--nav-icon-color) !important;
}

.menu-icon:hover {
    color: white !important;
}

.btn {
    background-color: rgb(255, 255, 255);
    color: grey;
    height: 40px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
}

.elevated {
    background-color: var(--main-bg-elevated);
    width: 42rem;
    border: .6px solid rgb(45, 45, 45);
}

.modify-btn {
    background-color: transparent;
    border: 1px solid rgb(45, 45, 45);
    color: white;
    border-radius: 12px;
}

.modify-btn:hover {
    background-color: transparent;
    border: 1px solid rgb(45, 45, 45);
}

.user-tab {
    width: 50%; 
    text-align: center; 
    margin-top: 20px; 
    border-bottom: 1px solid rgb(45, 45, 45);
} 

.user-tab-active {
    border-bottom: 1px solid white;
}

.modify-card {
    background-color: var(--main-bg-elevated);
    width: 400px;
    height: 400px;
    border: .6px solid rgb(45, 45, 45);
}

.inpt-search {
    background-color: var(--main-bg-elevated);
    border: none;
    width: 520px;
    height: 40px;
}

.inpt-search::placeholder {
    color: gray;
}

.inpt-search:focus {
    border: none;
}

.search-btn {
    border-radius: 10px;
    width: 100%;
    margin-right: 20px;
    background-color: var(--main-bg-elevated);
    border: .6px solid rgb(45, 45, 45);
    color: white;
}

.search-btn:hover {
    background-color: var(--main-bg-elevated);
    border: .6px solid rgb(45, 45, 45);
    color: white;
}

.footer .navbar {
    position: fixed;
    background-color: var(--main-header-bg);
    backdrop-filter: blur(28.5px);
}

.add-playlist-card {
    background-color: var(--main-bg-elevated);
    border: .6px solid rgb(45, 45, 45);
}