:root {
    --main-bg-color: rgb(16, 16, 16);
    --input-bg-color: rgb(30,30,30);
    --nav-item-hover: rgba(255, 255, 255, 0.05);
    --nav-icon-color: rgb(77, 77, 77);
    --main-bg-elevated: rgb(24, 24, 24);
}